{% load static %}

<div class="idunno-card">
    <table>
        <tr>
            <td colspan="2" class="w-50">
                {% if not index %}
                    <h3 style="float:left" class="idunno-card-title">{{ question }}</h3>
                {% else %}
                    <a href="{% url "question" id %}"><h3 style="float:left"
                                                          class="idunno-card-title">{{ question }}</h3></a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="symb">
                <object data="{% static "img/hint3.svg" %}" type="image/svg+xml" class="idunno-symb hint"></object>
            </td>
            <td class="idunno-hidden">{{ hint3 }}</td>
        </tr>
        <tr>
            <td class="symb">
                <object data="{% static "img/hint2.svg" %}" type="image/svg+xml" class="idunno-symb hint"></object>
            </td>
            <td class="idunno-hidden">{{ hint2 }}</td>
        </tr>
        <tr>
            <td class="symb">
                <object data="{% static "img/hint1.svg" %}" type="image/svg+xml" class="idunno-symb hint"></object>
            </td>
            <td class="idunno-hidden">{{ hint1 }}</td>
        </tr>
        <tr>
            <td>
                <object data="{% static "img/star.svg" %}" type="image/svg+xml" class="idunno-symb ans"></object>
            </td>
            <td class="idunno-hidden" style="font-weight: bold">{{ answer }}</td>
        </tr>
    </table>
</div>

<style>
    .idunno-card tr {
        height: 6em;
    }

    .idunno-card symb td {
        width: 6em;
    }

    .idunno-symb {
        margin-right: 2em;
        float: left;
        height: 3em;
        width: 3em;
    }

    .idunno-symb.ans {
        height: 1em;
        width: 1em;
        margin-left: 1.5em;
    }
</style>

