<footer class="container-fluid text-center mt-auto footer">
   iDunno App by Bierli: <a href="mailto:david.rejchrt@tuwien.ac.at"><i class="fa fa-envelope"></i></a><br>
   Feel free to contribute: <a href="https://github.com/drejchrt/iDunno"><i class="fab fa-github"></i></a>

</footer>

<style>
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px; /* Margin bottom by footer height */
    }

    footer {
        color: #FFFFFF;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px; /* Set the fixed height of the footer here */
        {#line-height: 60px; /* Vertically center the text there */#}
        background-color: #007bff;
    }

    footer a {
        color: #FFFFFF;
    }

    footer a:hover {
        color: #000000;
    }
</style>