<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="{% url "index" %}"><h5 class="navbar-brand">iDunno</h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="{% url "index" %}"><i class="fa fa-home"></i></a></li>
            <li class="nav-item"><a href="{% url "list" sort_attr='id' %}"><i class="fa fa-list"></i></a></li>
            <li class="nav-item"><a href="{% url "add_question" %}"><i class="fa fa-plus"></i></a></li>
            <li class="nav-item"><a href="{% url "game" '?' %}"><i class="fas fa-dice"></i></a></li>
        </ul>
        <div class="form-inline">
            <input id="searchbar" class="form-control mr-sm-2 w-100" type="search" placeholder="?" aria-label="Search">
            <div id="submit_btn" class="btn btn-default my-2 my-sm-0">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</nav>

<style>
    #submit_btn {
        position: absolute;
        right: 1em;
        display: inline;
        z-index: 2;
        color: #007bff;
    }

    .navbar {
        text-align: center;
    }

    .navbar .nav-item {
        margin-left: 1em;
        margin-right: 1em;
        font-size: 2em;

    }

    .navbar a:hover {
        color: #FFFFFF;
    }
</style>

<script>
    console.log();

    $('#submit_btn').on('click', function () {
        let query = $('#searchbar').val();
        let url = "{% url "search" "0000" %}";
        console.log(url);
        url = url.replace('0000', query);
        console.log(url);
        window.location = url;
    })
</script>
